<form
    [formGroup]="fg"
    (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" class="form-control" placeholder="Ingresar nombre..."
            [formControl]="fg.controls['nombre']">
        <ul>
            <li *ngFor="let r of searchResults;">{{r}}</li>
        </ul>
        <div *ngIf="fg.controls['nombre'].hasError('required')">El nombre es obligatorio!</div>
        <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')">El nombre es inválido!</div>
        <div *ngIf="fg.controls['nombre'].hasError('minLongNombre')">El nombre debe tener al menos {{minLongitud}} de largo.</div>
    </div>
    <div class="form-group">
        <label for="imagenUrl">Imagen URL</label>
        <input type="text" id="imagenUrl" class="form-control" placeholder="Ingresar URL..."
            [formControl]="fg.controls['url']">
            <!--<div *ngIf="fg.controls['url'].hasError('required')">La URL es requerida!</div>-->
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar</button>
</form>
